.message {
    padding: 10px;
    margin: 8px;
    border-radius: 2px;
    font-weight: 500;
}

.userCard {
    padding: 8px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 600px;
    
}

.resultCard {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0 ,0 , 0.1);
    background-color: #f8fafc
}